Server/Service References/ClientServiceReference/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/ClientService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import schemaLocation="http://localhost:8734/ClientService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RayTracer" />
  <xs:complexType name="TupleOfdoubleint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:double" />
      <xs:element name="m_Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfdoubleint" nillable="true" type="tns:TupleOfdoubleint" />
  <xs:complexType name="TupleOfBitmapintRayTracerintdateTimeJKj7DaPs">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{3}{4}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Bitmap" Namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="RayTracer" Namespace="http://schemas.datacontract.org/2004/07/RayTracer" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" name="m_Item1" nillable="true" type="q1:Bitmap" />
      <xs:element name="m_Item2" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RayTracer" name="m_Item3" nillable="true" type="q2:RayTracer" />
      <xs:element name="m_Item4" type="xs:int" />
      <xs:element name="m_Item5" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfBitmapintRayTracerintdateTimeJKj7DaPs" nillable="true" type="tns:TupleOfBitmapintRayTracerintdateTimeJKj7DaPs" />
</xs:schema>